<div class="" style="font-family: 'Jost', sans-serif;">
    {%extends 'base.html'%}
    {%block content%}
    <h3>Welcome {{user.username}}</h3>

    <div class="container-fluid">
        {%if user.is_authenticated and user.is_client%}
        <a href="">Welcome</a>
        {%else%}
        <a href="">Eeeeissh</a>

        <div class="container">
            <a href="{% url "new_business" %}">
                <button class="btn btn-default">Create Business</button>
            </a>

            <h2>List of my Businesses</h2>
            <!--Table-->
            <table class="table table-striped w-auto">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="h5">Business Name</th>
                        <th class="h5">Mechanic Name</th>
                        <th class="h5">Services</th>
                        <th class="h5">Availability</th>
                        <th class="h5">Address</th>
                        <th class="h5">City</th>
                        <th class="h5">Location</th>
                        <th class="h5">is_approved</th>
                        <th class="h5">Action</th>
                    </tr>

                </thead>
                <tbody>
                    {%for business in businesses%}
                    <tr class="table-info">
                        <th scope="row">1</th>
                        <td>{{business.business_name}}</td>
                        <td>{{business.mechanic_name}}</td>
                        <td>{{business.services}}</td>
                        <td>{{business.available}}</td>
                        <td>{{business.address}}</td>
                        <td>{{business.city}}</td>
                        <td>{{business.location}}</td>
                        <td>{{business.is_approved}}</td>
                        <td>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="">Update</a>
                                </div>
                                <div class="col-sm">
                                    <a href="" class="text-danger">Delete</a>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <!--Table-->
        </div>

        {%endif%}
    </div>

    {%endblock%}
</div>