<div class="" style="font-family: 'Jost', sans-serif;">
    {%extends 'base.html'%}
    {%block content%}
    <h3>Welcome {{user.username}}</h3>

    <div class="container-fluid">
        {%if user.is_authenticated and user.is_client%}
        <a href="">Welcome</a>
        {%else%}
        <a href="">Eeeeissh</a>

        <div class="container">
            <a href="{% url "new_business" %}">
                <button class="btn btn-default">Create Business</button>
            </a>

            <h2>List of my Businesses</h2>
            <!--Table-->
            <table class="table table-striped w-auto">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Business Name</th>
                        <th>Mechanic Name</th>
                        <th>Services</th>
                        <th>Availability</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Location</th>
                        <th>is_approved</th>
                    </tr>

                </thead>
                <tbody>
                    {%for business in businesses%}
                    <tr class="table-info">
                        <th scope="row">1</th>
                        <td>{{business.business_name}}</td>
                        <td>{{business.mechanic_name}}</td>
                        <td>{{business.services}}</td>
                        <td>{{business.available}}</td>
                        <td>{{business.address}}</td>
                        <td>{{business.city}}</td>
                        <td>{{business.location}}</td>
                        <td>{{business.is_approved}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <!--Table-->
        </div>

        {%endif%}
    </div>

    {%endblock%}
</div>