<div class="cla" style="font-family: 'Jost', sans-serif;">
    {%extends "base.html"%}
    {% load bootstrap3 %}
    {% block content %}
    <div class="container" style="font-family: 'Jost', sans-serif;">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    {% if results %}
                    <h5 class="text-center">Found {{ results|length }} locations that matched your
                        search{{ results|pluralize }}</h5>
                    {% else %}
                    <h5 class="text-center"> Found 0 user with location <strong>{{message}}</strong></h5>

                    <a class="d-block mx-auto" href="{%url "landingpage"%}">
                        <button class="btn btn-sm btn-info d-block mx-auto">Back Home</button>
                    </a>
                    {% endif %}
                    <hr>

                </div>

            </div>

            {% if results %}

            <div class="container-fluid">
                <div class="row pt-5">
                    {% for res in results %}
                    <div class="col-md-4">
                        <div class="card p-3">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-secondary">Business name:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.business_name}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Mechanic name:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.mechanic_name}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Services:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.services}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Available:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.available}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Address:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.address}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">City:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.city}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Price:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.price}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Location:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.location}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm" class="h1">
                                    <p class="text-secondary">Phone number:</p>
                                </div>
                                <div class="col-sm">
                                    {{res.phone_number}}
                                </div>
                            </div>
                            <a href="{%url "client_feedback" bus.id %}">Feedback</a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            {%endif%}

        </div>

    </div>
</div>

{% endblock %}
</div>